/* MOBILE MENU */
.hamburger {
    display: none;
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 28px;
    background: #111827;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    z-index: 1000;
}

@media (max-width: 768px) {
    .sidebar {
        left: -260px;
        transition: left 0.3s ease;
    }

    .sidebar.open {
        left: 0;
    }

    .hamburger {
        display: block;
    }

    .with-sidebar {
        margin-left: 0;
    }
}
